<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/dashboard.css">
    <% if(pageTitle==="Job Details") { %> 
        <link rel="stylesheet" href="/css/jobdetails.css">
    <% } %>
    <% if(pageTitle==="Your Job Postings" || pageTitle==="Add New Job") { %> 
        <link rel="stylesheet" href="/css/jobpostings.css">
    <% } %>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
<body>
    <header>
        <div class="brand_logo">
            <div><i class="fab fa-accusoft" style="color: #407aff;"></i></div>
            <div style="color: #407aff; font-size: 30px">WIT</div>
        </div>
        <div class="profile_info">
            <div class="main-header__item"><a class="<%= pageTitle === 'Job Openings' ? 'active' : '' %>" href="/jobsearch">Job Openings</a></div>
            <% if(user.role=== "recruiter") { %> 
                <div class="main-header__item"><a class="<%= pageTitle === 'Post New Job' ? 'active' : '' %>" href="/jobpostings">Your Job Postings</a></div>
            <% } %>
            
            <div class="dropdown">
                <button class="dropbtn">
                    <i class="fas fa-user-circle" style="font-size: 20px: color:grey"></i>
                </button>
                <div class="dropdown-content">
                    <div style="font-size: 17px"><%= user.username %></div>
                    <div style="font-size: 15px; padding-top:0px"><%= user.email %></div>
                    <hr>
                    <div><a href="/logout">Logout</a></div>
                </div>
            </div>
        </div>
    </header>
           