<%- include("./includes/template-start.ejs") %>
    <main>
        <div class="sidebar">

        </div>
        <div class="content_div">   
            <div class="content_heading"><i class="fas fa-certificate" style="color: lightgrey; font-size: 25px"></i><span><%= pageTitle %></span></div>

            <div class="card_div">
                <% if(jobs.length>0) { %>
                    <% for(let job of jobs) { %>
                        <div class="card">
                            <div style="color: black;
                            font-size: 20px; font-weight: bolder;"> <%= job.job_title %></div>   
                            <div style="font-size: 16px;"> <%= job.company_name %></div>
                            <div style="margin-top: 10px"><i class="fas fa-map-marker-alt" style="font-size:13px; padding: 0px 2px; margin-right:5px"></i><%= job.location %></div>
                            <div class="card_conditions"> 
                                <div class="subcard_conditions">
                                    <div style="color:  "><i class="fas fa-rupee-sign" style="font-size:14px; padding: 0px 5px 0px 0px;"></i>Expected Salary</div>
                                    <div><%=job.min_salary %> - <%=job.max_salary %> lpa</div>
                                </div>
                                <div class="subcard_conditions">
                                    <div><i class="far fa-clock" style="font-size:14px; padding: 0px 5px 0px 0px;"></i>Apply By</div>
                                    <div><%=job.apply_before %></div>
                                </div>
                                <div class="subcard_conditions">
                                    <div><i class="far fa-moon  " style="font-size:14px; padding: 0px 5px 0px 0px;"></i>Number of Openings</div>
                                    <div><%=job.num_of_openings %></div>
                                </div>                                
                            </div> 
                            <div class="card_optional">
                                <% if(job.wfh) { %> 
                                    <div class="subcard_optional">Work from home</div>
                                <% } %>
                                <% if(job.parttime) { %> 
                                    <div class="subcard_optional">Part Time</div>
                                <% } %>
                                <% if(job.internship) { %> 
                                    <div class="subcard_optional">Internship</div>
                                <% } %>
                            </div> 
                            <div class="card_optional2">
                                <% if(job.womenrestart) { %> 
                                    <div class="subcard_optional2"><i class="fas fa-check" style="font-size:13px; padding: 0px 5px 0px 0px;"></i>Women wanting to (re)start their career</div>
                                <% } %>
                                <% if(job.lostjob) { %> 
                                    <div class="subcard_optional2"><i class="fas fa-check" style="font-size:13px; padding: 0px 5px 0px 0px;"></i>Seeking people who lost job due to pandemic</div>
                                <% } %>
                            </div>      
                            <a href="/jobs/<%= job._id %>" class="details">View Details </a>                  
                        </div>
                    <% } %>
                <% } else { %>
                    <h3>No Jobs Found</h3>
                <% } %>
            </div>
        </div>        
    </main>
</body>


</html>